#  ********   DISCLAIMER    ********

#  This configuration only display for skill demonstration.
#  It is supposed to be hidden for security purpose.


#  EXPRESS SERVER
EXP_SERVER_PORT=8080


#  NEON DATABASE
POSTGRE_CONN=postgresql://neondb_owner:npg_J2QwoZ0endOT@ep-curly-night-am8bqqwp-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
POSTGRE_NEON_PW=PASSWORD_SECRET_Neon1

#  SSL / TLS SETTING
SSL_PASSWORD=PASSWORD_SECRET_SSL
CERT_P12_PASSWORD=PASSWORD_SECRET_P12


#  SECURITY
COOKIE_SECRET=PASSWORD_SECRET_COOKIE